services:
  auth_service:
    build:
      context: ./auth_service
      dockerfile: Dockerfile
    container_name: auth_service
    ports:
      - "8000:8000"
    depends_on:
      auth_db:
        condition: service_healthy
      auth_redis:
        condition: service_healthy
    env_file:
      - ./auth_service/.env
    volumes:
      - ./auth_service:/app
    restart: always
    networks:
      - backend_network

  auth_db:
    image: postgres:15
    container_name: auth_db
    env_file:
      - ./auth_service/.env
    ports:
      - "5433:5432"
    volumes:
      - auth_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
    networks:
      - backend_network

  auth_pgadmin:
    image: dpage/pgadmin4
    container_name: auth_pgadmin
    env_file:
      - ./auth_service/.env.pgadmin
    ports:
      - "5050:80"
    volumes:
      - auth_pgadmin_data:/var/lib/pgadmin
    depends_on:
      auth_db:
        condition: service_healthy
    networks:
      - backend_network

  auth_redis:
    image: redis:7
    container_name: auth_redis
    ports:
      - "6379:6379"
    volumes:
      - auth_redis_data:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
    networks:
      - backend_network



  catalog_service:
    build:
      context: ./catalog_service
      dockerfile: Dockerfile
    container_name: catalog_service
    ports:
      - "8001:8000"
    depends_on:
      catalog_db:
        condition: service_healthy
      catalog_redis:
        condition: service_healthy
      kafka:
        condition: service_healthy
    env_file:
      - ./catalog_service/.env
    volumes:
      - ./catalog_service:/app
    restart: always
    networks:
      - backend_network

  catalog_db:
    image: postgres:15
    container_name: catalog_db
    env_file:
      - ./catalog_service/.env
    ports:
      - "5434:5432"
    volumes:
      - catalog_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
    networks:
      - backend_network

  catalog_pgadmin:
    image: dpage/pgadmin4
    container_name: catalog_pgadmin
    env_file:
      - ./catalog_service/.env.pgadmin
    ports:
      - "5051:80"
    volumes:
      - catalog_pgadmin_data:/var/lib/pgadmin
    depends_on:
      catalog_db:
        condition: service_healthy
    networks:
      - backend_network

  catalog_redis:
    image: redis:7
    container_name: catalog_redis
    ports:
      - "6380:6379"
    volumes:
      - catalog_redis_data:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
    networks:
      - backend_network



  orders_service:
    build:
      context: ./orders_service
      dockerfile: Dockerfile
    container_name: orders_service
    ports:
      - "8002:8000"
    depends_on:
      orders_db:
        condition: service_healthy
      kafka:
        condition: service_healthy
    env_file:
      - ./orders_service/.env
    volumes:
      - ./orders_service:/app
    restart: always
    networks:
      - backend_network

  orders_db:
    image: postgres:15
    container_name: orders_db
    env_file:
      - ./orders_service/.env
    ports:
      - "5435:5432"
    volumes:
      - orders_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
    networks:
      - backend_network

  orders_pgadmin:
    image: dpage/pgadmin4
    container_name: orders_pgadmin
    env_file:
      - ./orders_service/.env.pgadmin
    ports:
      - "5052:80"
    volumes:
      - orders_pgadmin_data:/var/lib/pgadmin
    depends_on:
      orders_db:
        condition: service_healthy
    networks:
      - backend_network



  reviews_service:
    build:
      context: ./reviews_service
      dockerfile: Dockerfile
    container_name: reviews_service
    ports:
      - "8003:8000"
    env_file:
      - ./reviews_service/.env
    volumes:
      - ./reviews_service:/app
    depends_on:
      reviews_mongo:
        condition: service_healthy
      kafka:
        condition: service_healthy
    restart: always
    networks:
      - backend_network

  reviews_mongo:
    image: mongo:6.0
    container_name: reviews_mongo
    ports:
      - "27018:27017"
    volumes:
      - reviews_mongo_data:/data/db
    healthcheck:
      test: ["CMD-SHELL", "mongosh --quiet --eval 'db.adminCommand({ ping: 1 }).ok' | grep 1"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: always
    networks:
      - backend_network



  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    restart: always
    networks:
      - backend_network

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    depends_on:
      - zookeeper
    healthcheck:
      test: ["CMD-SHELL", "kafka-topics --bootstrap-server kafka:9092 --list || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: always
    networks:
      - backend_network



volumes:
  auth_data:
  auth_pgadmin_data:
  auth_redis_data:
  catalog_data:
  catalog_redis_data:
  catalog_pgadmin_data:
  orders_data:
  orders_pgadmin_data:
  reviews_mongo_data:

networks:
  backend_network:
    driver: bridge